.left-aside {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv-input-fields-container {
  width: 90%;
  height: 90%;
  background-color: bisque;
  border-radius: 6px;
}
