#root {
  margin: 0;

  height: 100vh;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.left-side {
  grid-column: 1/2;
  max-height: 100vh;
}

.right-side {
  grid-column: 2/3;
}
